In [6]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='ionab10', api_key='p0Yc6QqxNIWci9j3lUpD')

from collections import Counter
import statsmodels.api as sm
import statsmodels.genmod.families.links as links

from scipy.stats import poisson

from math import log,exp,factorial
import pandas as pd
from numpy import mean

/Users/ionabuchanan/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning:

The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.

In [111]:
temp=pd.read_csv('./temp.csv')
temp.dropna(how='any',inplace=True)
#temp['NAME']=[name.split(',')[0] for name in temp['NAME']]
temp.set_index('Player',inplace=True)
temp.head()

                 Pos       Cap Hit
Player
Kirk Cousins      QB  $23,943,600
Trumaine Johnson  CB  $16,742,400
Von Miller        LB  $16,500,000
Josh Norman       CB  $16,500,000
Justin Houston    LB  $16,350,000

In [46]:
def LastFirst2FirstLast(name):
    name=name.split(', ')
    name=name[1]+' '+name[0]
    return name

def DOB2Age(dob):
    yob=str(dob).split('/')[-1]
    try:
        return 2017-int(yob)
    except:
        return None

In [112]:
def salary(name):
    try:
        return temp.loc[name]['Cap Hit']
    except:
        return None

In [105]:
def ft2inches(height):
    if type(height)==float:
        h=height
    elif '-' in height:
        h=height.split('-')
        h=int(h[0])*12+int(h[1])
    elif '\'' in height:
        h=height.split('\'')
        h=int(h[0])*12+int(h[1][:-1])
    return h

In [113]:
temp1=pd.read_csv('./temp2.csv',header=None,names=['Name','Position','Age','Height','Weight','Experience'])
#temp1['Name']=[LastFirst2FirstLast(name) for name in temp1['Name']]
#temp1['Age']=[DOB2Age(dob) for dob in temp1['DOB']]
temp1['Height']=[ft2inches(h) for h in temp1['Height']]
temp1['Salary']=[salary(name) for name in temp1['Name']]
temp1.dropna(how='any',inplace=True)
temp1.to_csv('./temp3.csv')
temp1.head()

           Name Position Age  Height  Weight Experience        Salary
0    A.J. Bouye       CB  26    72.0   191.0          5   $3,000,000
1     A.J. Cann        G  26    75.0   325.0          3     $721,000
2  A.J. Francis       DT  27    77.0   337.0          2     $397,936
3  A.J. Francis       DT  27    77.0   337.0          2     $397,936
4    A.J. Green       WR  29    76.0   210.0          7  $10,300,000

In [7]:
salaries=pd.read_csv('./salaries.csv')
salaries.dropna(how='any',inplace=True)
leagues=list(set(salaries['League']))
salaries.set_index(['League','Name'],inplace=True)
salaries.head()

                       Position  Age  Height  Weight           Salary
League Name
MLB    Aaron Hicks           CF   28      73     202   $1,350,000.00
       Aaron Judge           RF   25      79     282     $544,500.00
       Adam Jones            CF   32      74     215  $16,329,674.00
       Adam Liberatore       RP   30      75     240     $535,000.00
       Adam Warren           RP   30      73     224   $2,290,000.00

In [8]:
Counter(salaries.loc['NFL']['Position'])

Counter({'C': 64,
         'CB': 181,
         'DB': 7,
         'DE': 129,
         'DT': 130,
         'FB': 18,
         'G': 103,
         'LB': 266,
         'LS': 33,
         'NT': 6,
         'OL': 1,
         'OT': 127,
         'P': 32,
         'PK': 36,
         'QB': 69,
         'RB': 137,
         'S': 147,
         'TE': 122,
         'WR': 190})

In [15]:
lineups={'Offense': {'QB','RB','FB','WR','TE','C','G','OT'},
         'Defense': {'DE','DT','NT','LB','CB','S'},
         'Special':{'PK','P','LS'}
        }

In [19]:
data=[]
for league in leagues:
    #if league == 'NFL':
    if False:
        for lineup,positions in lineups.items():
            height=go.Scatter(
                x = salaries.loc[league].query('Position in @positions')['Height'],
                y = salaries.loc[league].query('Position in @positions')['Salary'],
                mode = 'markers',
                name = league + ' - ' + lineup
            )
            data.append(height)
    else:
        height=go.Scatter(
            x = salaries.loc[league]['Height'],
            y = salaries.loc[league]['Salary'],
            mode = 'markers',
            name = league
        )
        data.append(height)

#updatemenus=None

layout=go.Layout(
    title='Salaries vs Height',
    xaxis=dict(title='Height'),
    yaxis=dict(title='Salary'),
    #updatemenus=updatemenus
)

fig=go.Figure(data=data,layout=layout)

# Plot and embed in ipython notebook!
py.iplot(fig, filename='Salaries vs Height')

In [134]:
data=[]
for league in leagues:
    height=go.Scatter(
        x = salaries.loc[league]['Weight'],
        y = salaries.loc[league]['Salary'],
        mode = 'markers',
        name = league
    )
    data.append(height)
    
layout=go.Layout(
    title='Salaries vs Weight',
    xaxis=dict(title='Weight'),
    yaxis=dict(title='Salary')
)

fig=go.Figure(data=data,layout=layout)

# Plot and embed in ipython notebook!
py.iplot(fig, filename='Salaries vs Weight')

In [135]:
data=[]
for league in leagues:
    height=go.Scatter(
        x = salaries.loc[league]['Age'],
        y = salaries.loc[league]['Salary'],
        mode = 'markers',
        name = league
    )
    data.append(height)
    
layout=go.Layout(
    title='Salaries vs Age',
    xaxis=dict(title='Age'),
    yaxis=dict(title='Salary')
)

fig=go.Figure(data=data,layout=layout)

# Plot and embed in ipython notebook!
py.iplot(fig, filename='Salaries vs Age')

Sources: ESPN, NBA.com, FOX Sports, NFL.com,pro-football-reference.com